<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB86rSDfN7AAGJ-5l_Q53wxxa4FUE4PfI0</string>
	<key>GCM_SENDER_ID</key>
	<string>13282882321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasi</string>
	<key>PROJECT_ID</key>
	<string>utsmobile-4d17a</string>
	<key>STORAGE_BUCKET</key>
	<string>utsmobile-4d17a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13282882321:ios:6848cd489babf41c8a52b0</string>
</dict>
</plist>